.form-group .form-control{
	height: 40px;
	font-size: 15px;
}

.panelInicio .text-center{
	margin-top: 145px;
}

.form-right{
	padding-left: 0;
}

.form-left{
	padding-right: 0;
	padding-left: 0;	
}

/* Para pantallas < 768px */
@media only screen and (max-width: 768px){
	.panelInicio{
		width: calc(100% - 20px);
	}
	
	.form-group .form-control{
		font-size: 14px;
	}
}

/* Para pantallas < 992px */
@media only screen and (max-width: 992px){
	.panelInicio .text-center{
		margin-top: 65px;
	}
	
	.form-right{
		padding-right: 0;
	}
}

/* Para pantallas altura < 720px */
@media only screen and (max-height: 720px){
	.contenedor{
		align-items: normal;
	}
	
	.panelInicio{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}