.pastilleros{
	height: 100%;
    overflow-y: auto;
 	padding: 0;
}

.pastilleros-interior{
	padding: 15px 30px;
}

.programacion{
	height: 100%;
    border-left: 1px solid #EEEEEE;
    overflow-y: auto;
}

/* Boton flotante movil */
.btn-programacion {
	display: none;
	
	color: white;
	background: #1AB188;
	outline: none;
	font-size: 18px;
	
	position: fixed;
	bottom: 0;
	right: 0;
	
	width: 50px;
	height: 50px;
	
	border: 0;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	
	margin-bottom: 10px;
	margin-right: 10px;
	
	z-index: 1;
}

/* Boton flotante movil */
.btn-programacion:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

hr{
	margin-top: 0;
}

.informacion{
	margin-top: 15px;
}

small{
	color: gray;
}

.margenBottomNone{
	margin-bottom: 0;
}

.margenTopNone{
	margin-top: 0;
}


/* Tab Pastilleros */
.tab-pastilleros{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 1px;
    
    z-index: 1;
}

.tab-pastilleros li{
    display: flex;
    flex: 1;
    overflow: hidden;
    text-transform: uppercase;
    
    font-size: 20px;
    background-color: #FFFFFF;
    
   	justify-content: center;
   	align-items: center;
    line-height: 1.2;
    height: 50px;
}

.tab-pastilleros li a{
	width: 100%;
	text-decoration: none;
	text-align: center;
	color: #808080;
}

#pastillero-a{
	border-bottom: 3px solid #FBA700;
	background-color: #FFE7B5;
}

#pastillero-b{
	border-bottom: 3px solid #0052CC;
	background-color: #B5CBF7;
}

.pastillero-seleccionado-a{
	color: #FFFFFF !important;
	background-color: #FBA700 !important;
}

.pastillero-seleccionado-b{
	color: #FFFFFF !important;
	background-color: #0052CC !important;
}

.pastillero-seleccionado-a a{
	color: #FFFFFF !important;
}

.pastillero-seleccionado-b a{
	color: #FFFFFF !important;
}

#hr-pastillero-a{
	border-top: 1px solid #FBA700;
}

#hr-pastillero-b{
	border-top: 1px solid #0052CC;
}


/* Para pantallas < 992px */
@media only screen and (max-width: 992px){
	.programacion{
		display: none;
		border: none;
	}
	
	.tab-pastilleros{
		position: fixed;
	}
	
	.pastilleros-interior{
		margin-top: 60px;
		padding: 0 15px 40px;
	}
	
	.vertical-align {
	    display: inline !important;
	}
	
	/* Boton flotante movil */
	.btn-programacion {
		display: inline;
	}
}

/* Para pantallas < 768px y portrait */
@media (max-width: 768px) and (orientation:portrait) {
    .col-xs-5 {
        width: 100%;
    }
    
    .col-xs-7 {
        width: 100%;
    }
}

/* Para pantallas < 768px y landscape */
@media (max-width: 768px) and (orientation:landscape) {
    .vertical-align {
	    display: flex !important;
	}
}

/* Para pantallas < 768px */
@media only screen and (max-width: 768px){
	blockquote p span{
		display: none;
	}
}

.margin-bottom{
	margin-bottom: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.numero-pastillas{
	margin: 0;
	font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

.label-num-pastillas{
	color: #999999;
    font-size: 12px;
    line-height: 1.5;
}


/* SVG Pastillero*/
.past-exterior{
	fill:#808080;
}

.past-exterior-a{
	stroke:#FBA700;
	stroke-width:10;
	stroke-miterlimit:10;
}

.past-exterior-b{
	stroke:#0052CC;
	stroke-width:10;
	stroke-miterlimit:10;
}

/* Gris */ 
.past-pos-neutro{
	fill:#808080;
}

/* Blanco */ 
.past-pos-pastillero{
	fill:#FFFFFF;
	stroke:#9C0000;
	stroke-width:2;
	stroke-miterlimit:10;
	
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Rojo */ 
.past-pos-tomada{
	fill:#808080;
	stroke:#9C0000;
	stroke-width:2;
	stroke-miterlimit:10;
	
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Azul */ 
.past-pos-programada{
	fill:#808080;
	stroke:#0431B4;
	stroke-width:2;
	stroke-miterlimit:10;
	
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.past-pos-no-disponible{
	fill:#808080;
	stroke:#154360;
	stroke-width:2;
	stroke-miterlimit:10;
	
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Verde */
.past-pos-libre{
	fill:#808080;
	stroke:#044D00;
	stroke-width:2;
	stroke-miterlimit:10;
	
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.progress-bar-danger{
	background-color: #FB3838;
	width: 0%;
}

.progress-bar-info{
	background-color: #58ACFA;
	width: 0%;
}

.progress-bar-success{
	background-color: #16CC4A;
	width: 0%;
}

.div--alert_programacion{
	display: none;
}

#input-date input{
	background-color: #FFFFFF;
}

#input-time input{
	background-color: #FFFFFF;
}

blockquote{
	display: none;
	font-size: 14px;
	padding: 10px;
}

blockquote p span{
	font-size: 14px;
	font-weight: lighter;
}

/* Table horarios programados */
.centro-item{
	text-align: center;
}

.table > tbody > tr > td {
     vertical-align: middle;
}