<!DOCTYPE html>
<html lang="es">
<head>
  <title>{% block titulo %} Dashboard {% endblock %}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="">
  <meta name="author" content="Jose Antonio Cabaneros">
  <link rel="icon" href="/favicon.ico">
  <!-- CSS Style -->
  <link rel="stylesheet" type="text/css" href="/css/external/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/internal/style.css">
  <link rel="stylesheet" type="text/css" href="/css/internal/style.dashboard.css">
  {% block styles %} {% endblock %}
  <!-- JavaScript -->
  <script src="/js/external/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="/js/external/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/external/fontawesome-all.min.js" type="text/javascript"></script>
  {% block scripts %} {% endblock %}
</head>
<body>
  <div class="panell">
    <div class="panel-interior">
      <div class="menu" role="navigation" aria-label="menu">
        {% block menu %}
        <!-- Menu de navegacion -->
        {% endblock %}
      </div>
      <div class="pagina">
        <!-- Contenido -->
        {% block contenido_principal %}
        <!-- Posible contenido por defecto -->
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>