{% extends "base.dashboard.html" %} 

{% block titulo %} Dispensador {% endblock %} 

{% block styles %}
<link rel="stylesheet" type="text/css" href="/css/internal/style.dashboard.dispensador.CHART.tiempovida.css">
{% endblock %} 

{% block scripts %}
<script src="/js/external/d3.min.js" type="text/javascript"></script>
<script src="/js/internal/script.dashboard.dispensador.CHART.tiempovida.js" type="text/javascript"></script>
{% endblock %} 

{% block contenido_principal %}

<div class="pagina-interior">
  <div class="container-fluid">
    <h3>Dispensador</h3>
    <hr/>
    <div id="tiempoVida"></div>
  </div>
</div>

{% endblock %}
