{% extends "base.dashboard.html" %} 

{% block titulo %} Ajustes {% endblock %} 

{% block styles %}
<link rel="stylesheet" type="text/css" href="/css/internal/style.dashboard.ajustes.css">
{% endblock %} 

{% block scripts %}
<script src="/js/internal/script.dashboard.ajustes.js" type="text/javascript"></script>
{% endblock %} 

{% block menu %}
  {% include "menu.usuario.html" %}
{% endblock %}

{% block contenido_principal %}
<div class="pagina-interior">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-6">
      {% if success %}
      <div class="alert alert-success" role="alert">
        <i class="far fa-check-circle"></i> <b>{{ success }}</b>
      </div>
      {% endif %}
      {% if error.tipo == 'TRATAMIENTO' || error.tipo == 'TOMA' %}
      <div class="alert alert-danger" role="alert">
        <i class="far fa-times-circle"></i> <b>Error: </b>{{ error.mensaje }}
      </div>
      {% endif %}
      {% if error.tipo == 'GENERAL' %}
      <div class="alert alert-danger" role="alert">
        <i class="far fa-times-circle"></i> {{ error.mensaje }}
      </div>
      {% endif %}
      <div class="box">
        <h3>Tratamiento</h3>
        <form method="post" action="/dashboard/settings/treatment" class="form-horizontal">
          <div class="form-group">
            <label for="tratamientoAMedicamento" class="col-sm-3 col-md-4 col-lg-3 control-label">Pastillero A</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class='input-group margenBottom'>
                <input type="text" class="form-control"
                  name="tratamientoAMedicamento" value="{{ serialConfig.tratamiento.A.medicamento }}" required>
                <span class="input-group-addon">Medicamento</span>
              </div>
              <div class='input-group'>
                <input type="number" class="form-control" min="1" max="12"
                  name="tratamientoAPastillas" value="{{ serialConfig.tratamiento.A.pastillas }}" required>
                <span class="input-group-addon">Pastilla(s)</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="tratamientoBMedicamento" class="col-sm-3 col-md-4 col-lg-3 control-label">Pastillero B</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class='input-group margenBottom'>
                <input type="text" class="form-control"
                  name="tratamientoBMedicamento" value="{{ serialConfig.tratamiento.B.medicamento }}" required>
                <span class="input-group-addon">Medicamento</span>
              </div>
              <div class='input-group'>
                <input type="number" class="form-control" min="1" max="12"
                  name="tratamientoBPastillas" value="{{ serialConfig.tratamiento.B.pastillas }}" required>
                <span class="input-group-addon">Pastilla(s)</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-4 col-lg-offset-3 col-sm-9 col-md-8 col-lg-9">
              <button type="submit" class="btn btn-primary">Modificar Tratamiento</button>
            </div>
          </div>
        </form>
      </div>
      <div class="box">
        <h3>Toma de Medicación</h3>
        <form method="post" action="/dashboard/settings/take" class="form-horizontal">
          <div class="form-group">
            <label for="tiempoEspera" class="col-sm-3 col-md-4 col-lg-3 control-label">Tiempo de Espera</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class='input-group'>
                <input type="number" class="form-control" min="1" max="10"
                  name="tiempoEspera" value="{{ serialConfig.toma.tiempoespera }}" required>
                <span class="input-group-addon">Minutos</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="deteccion" class="col-sm-3 col-md-4 col-lg-3 control-label">Sensor Detección</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <label class="radio-inline">
                <input type="radio" name="deteccion" value="si" 
                  {% if serialConfig.toma.irdeteccion %} checked {% endif %}> SI
              </label>
              <label class="radio-inline">
                <input type="radio" name="deteccion" value="no" 
                  {% if !serialConfig.toma.irdeteccion %} checked {% endif %}> NO
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="btnConfirmacion" class="col-sm-3 col-md-4 col-lg-3 control-label">Btn. Confirmación</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <label class="radio-inline">
                <input type="radio" name="btnConfirmacion" value="si"
                  {% if serialConfig.toma.btnconfirmacion  %} checked {% endif %}> SI
              </label>
              <label class="radio-inline">
                <input type="radio" name="btnConfirmacion" value="no"
                  {% if !serialConfig.toma.btnconfirmacion  %} checked {% endif %}> NO
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-4 col-lg-offset-3 col-sm-9 col-md-8 col-lg-9">
              <button type="submit" class="btn btn-primary">Modificar Toma Medicación</button>
            </div>
          </div>
        </form>
      </div>
      <div class="box">
        <h3>Dispensador</h3>
        <form method="post" action="/dashboard/settings/dispenser" class="form-horizontal">
          <div class="form-group">
            <label for="ledNotificacion" class="col-sm-3 col-md-4 col-lg-3 control-label">Led Notificación</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <label class="radio-inline">
                <input type="radio" name="ledNotificacion" value="si"
                  {% if serialConfig.dispensador.lednotificacion  %} checked {% endif %}> SI
              </label>
              <label class="radio-inline">
                <input type="radio" name="ledNotificacion" value="no"
                  {% if !serialConfig.dispensador.lednotificacion %} checked {% endif %}> NO
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="sonidoNotificacionEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Sonido Notificación</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="col-xs-4 padding-none">
                <label class="radio-inline">
                  <input type="radio" name="sonidoNotificacionEstado" value="si"
                    {% if serialConfig.dispensador.sonidonotificacion.estado %} checked {% endif %}> SI
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sonidoNotificacionEstado" value="no"
                    {% if !serialConfig.dispensador.sonidonotificacion.estado %} checked {% endif %}> NO
                </label>
              </div>
              <div class="col-xs-8 padding-right-none">
                <div class='input-group'>
                  <input type="number" class="form-control" min="1" max="60" name="sonidoNotificacionValor"
                     id="inputSonido" value="{{ serialConfig.dispensador.sonidonotificacion.valor }}" required>
                  <span class="input-group-addon">Segundos</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-4 col-lg-offset-3 col-sm-9 col-md-8 col-lg-9">
              <button type="submit" class="btn btn-primary">Modificar Dispensador</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 borde">
      <div class="box">
        <h3>Notificaciones</h3>
        <form method="post" action="/dashboard/settings/emails" class="form-horizontal">
          {% for key, val in emailsNotUsuarios %}
            <div class="form-group">
              <label for="emailUser" class="col-sm-3 col-md-4 col-lg-3 control-label">Email Usuario</label>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input type="email" class="form-control" name="emailUser"
                  value="{{ val }}" disabled>
              </div>
            </div>
          {% endfor %}
          <div class="form-group">
            <label for="email1" class="col-sm-3 col-md-4 col-lg-3 control-label">Email Extra 1</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <input type="email" class="form-control" name="email1" value="{{ serialConfig.emailsnotificacion[0] }}">
            </div>
          </div>
          <div class="form-group">
            <label for="email2" class="col-sm-3 col-md-4 col-lg-3 control-label">Email Extra 2</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <input type="email" class="form-control" name="email2" value="{{ serialConfig.emailsnotificacion[1] }}">
            </div>
          </div>
          <div class="form-group">
            <label for="telegram" class="col-sm-3 col-md-4 col-lg-3 control-label">Bot Telegram</label>
            <div class="col-sm-9 col-md-8 col-lg-9 telegramlink">
              <a href="https://telegram.me/SmartMedicineDispenserBot">@SmartMedicineDispenserBot</a>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-4 col-lg-offset-3 col-sm-9 col-md-8 col-lg-9">
              <button type="submit" class="btn btn-primary">Guardar Emails</button>
            </div>
          </div>
        </form>
      </div>
      <div class="box">
        <h3>Configurador de Notificaciones</h3>
        <form method="post" action="/dashboard/settings/notifications" class="form-horizontal">
          <div class="form-group">
            <label for="sinConexionEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Pérdida Conexión</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="col-xs-4 padding-none">
                <label class="radio-inline">
                  <input type="radio" name="sinConexionEstado" value="si"
                    {% if serialConfig.configuracionnotificaciones.sinconexion.estado %} checked {% endif %}> SI
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sinConexionEstado" value="no"
                    {% if !serialConfig.configuracionnotificaciones.sinconexion.estado %} checked {% endif %}> NO
                </label>
              </div>
              <div class="col-xs-8 padding-right-none">
                <div class='input-group'>
                  <input type="number" class="form-control" min="5" max="30" name="sinConexionValor"
                     id="inputSinConexion" value="{{ serialConfig.configuracionnotificaciones.sinconexion.valor }}" required>
                  <span class="input-group-addon">Minutos</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="pocasPastillasEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Pocas Pastillas</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="col-xs-4 padding-none">
                <label class="radio-inline">
                  <input type="radio" name="pocasPastillasEstado" value="si"
                    {% if serialConfig.configuracionnotificaciones.pocaspastillas.estado %} checked {% endif %}> SI
                </label>
                <label class="radio-inline">
                  <input type="radio" name="pocasPastillasEstado" value="no"
                    {% if !serialConfig.configuracionnotificaciones.pocaspastillas.estado %} checked {% endif %}> NO
                </label>
              </div>
              <div class="col-xs-8 padding-right-none">
                <div class='input-group'>
                  <input type="number" class="form-control" min="1" max="3" name="pocasPastillasValor"
                     id="inputPocasPastillas" value="{{ serialConfig.configuracionnotificaciones.pocaspastillas.valor }}" required>
                  <span class="input-group-addon">Pastilla(s)</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="temperaturaEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Temperatura</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="col-sm-12 padding-none margenBottom">
                <label class="radio-inline">
                  <input type="radio" name="temperaturaEstado" value="si"
                    {% if serialConfig.configuracionnotificaciones.temperatura.estado  %} checked {% endif %}> SI
                </label>
                <label class="radio-inline">
                  <input type="radio" name="temperaturaEstado" value="no"
                    {% if !serialConfig.configuracionnotificaciones.temperatura.estado %} checked {% endif %}> NO
                </label>
              </div>
              <div class="col-sm-12 padding-none">
                <div class="col-sm-6 padding-none margenBottom">
                  <div class='input-group margenRight'>
                    <span class="input-group-addon">T. <b>&lt</b> </span>
                    <input type="number" class="form-control" min="10" max="18" name="temperaturaMin"
                       id="inputTemperaturaMin" value="{{ serialConfig.configuracionnotificaciones.temperatura.min }}" required>
                    <span class="input-group-addon">Cº</span>
                  </div>
                </div>
                <div class="col-sm-6 padding-none">
                  <div class='input-group margenRight'>
                    <span class="input-group-addon">T. <b>&gt</b> </span>
                    <input type="number" class="form-control" min="25" max="40" name="temperaturaMax"
                       id="inputTemperaturaMax" value="{{ serialConfig.configuracionnotificaciones.temperatura.max }}" required>
                    <span class="input-group-addon">Cº</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="humedadEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Humedad</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="col-sm-12 padding-none margenBottom">
                <label class="radio-inline">
                  <input type="radio" name="humedadEstado" value="si"
                    {% if serialConfig.configuracionnotificaciones.humedad.estado  %} checked {% endif %}> SI
                </label>
                <label class="radio-inline">
                  <input type="radio" name="humedadEstado" value="no"
                    {% if !serialConfig.configuracionnotificaciones.humedad.estado %} checked {% endif %}> NO
                </label>
              </div>
              <div class="col-sm-12 padding-none">
                <div class="col-sm-6 padding-none margenBottom">
                  <div class='input-group margenRight'>
                    <span class="input-group-addon">H. <b>&lt</b> </span>
                    <input type="number" class="form-control" min="10" max="40" name="humedadMin"
                       id="inputHumedadMin" value="{{ serialConfig.configuracionnotificaciones.humedad.min }}" required>
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                <div class="col-sm-6 padding-none">
                  <div class='input-group margenRight'>
                    <span class="input-group-addon">H. <b>&gt</b> </span>
                    <input type="number" class="form-control" min="45" max="99" name="humedadMax"
                       id="inputHumedadMax" value="{{ serialConfig.configuracionnotificaciones.humedad.max }}" required>
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="deteccionGas" class="col-sm-3 col-md-4 col-lg-3 control-label">Detección Gas</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <label class="radio-inline">
                <input type="radio" name="deteccionGas" value="si"
                  {% if serialConfig.configuracionnotificaciones.detecciongas  %} checked {% endif %}> SI
              </label>
              <label class="radio-inline">
                <input type="radio" name="deteccionGas" value="no"
                  {% if !serialConfig.configuracionnotificaciones.detecciongas %} checked {% endif %}> NO
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="deteccionCaida" class="col-sm-3 col-md-4 col-lg-3 control-label">Detección Caida</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <label class="radio-inline">
                <input type="radio" name="deteccionCaida" value="si"
                  {% if serialConfig.configuracionnotificaciones.deteccioncaida  %} checked {% endif %}> SI
              </label>
              <label class="radio-inline">
                <input type="radio" name="deteccionCaida" value="no"
                  {% if !serialConfig.configuracionnotificaciones.deteccioncaida %} checked {% endif %}> NO
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-4 col-lg-offset-3 col-sm-9 col-md-8 col-lg-9">
              <button type="submit" class="btn btn-primary">Guardar Notificaciones</button>
            </div>
          </div>
        </form>
      </div>
      <div class="panel panel-default margenTop">
        <div class="panel-body">
          <p>¿Cuándo se realizan notificaciones?</p>
          <small>
            <ul>
              <li>Botón de Emergencia (rojo) pulsado</li>
              <li>Medicación no tomada</li>
              {% if serialConfig.configuracionnotificaciones.sinconexion.estado %}
                <li>Desconexión del dispensador</li>
              {% endif %}
              {% if serialConfig.configuracionnotificaciones.pocaspastillas.estado %}
                <li>Pocas pastillas restantes</li>
              {% endif %}
              {% if serialConfig.configuracionnotificaciones.temperatura.estado  %}
                <li>Temperatura del dispensador</li>
              {% endif %}
              {% if serialConfig.configuracionnotificaciones.humedad.estado  %}
                <li>Humedad del dispensador</li>
              {% endif %}
              {% if serialConfig.configuracionnotificaciones.detecciongas  %}
                <li>Detección de gas</li>
              {% endif %}
              {% if serialConfig.configuracionnotificaciones.deteccioncaida  %}
                <li>Detección de caida</li>
              {% endif %}
            </ul>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
