{% extends "dashboard.ajustes.html" %} 

{% block titulo %} Ajustes-Tratamiento {% endblock %} 

{% block titulo_formulario %}
  <h3>Configurador de Notificaciones</h3>
{% endblock %}

{% block formulario_ajustes %}
<form method="post" action="/dashboard/settings/confignotif" class="form-horizontal">
  <div class="form-group">
    <label for="sinConexionEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Pérdida Conexión</label>
    <div class="col-sm-9 col-md-8 col-lg-9">
      <div class="col-xs-4 padding-none">
        <label class="radio-inline">
          <input type="radio" name="sinConexionEstado" value="si"
         	{% if serialConfig.configuracionnotificaciones.sinconexion.estado %} checked {% endif %}> SI
        </label>
        <label class="radio-inline">
          <input type="radio" name="sinConexionEstado" value="no"
         	{% if !serialConfig.configuracionnotificaciones.sinconexion.estado %} checked {% endif %}> NO
        </label>
      </div>
      <div class="col-xs-8 padding-right-none">
        <div class='input-group'>
          <input type="number" class="form-control" min="5" max="30" name="sinConexionValor"
             id="inputSinConexion" value="{{ serialConfig.configuracionnotificaciones.sinconexion.valor }}" required>
          <span class="input-group-addon">Minutos</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="pocasPastillasEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Pocas Pastillas</label>
    <div class="col-sm-9 col-md-8 col-lg-9">
      <div class="col-xs-4 padding-none">
        <label class="radio-inline">
          <input type="radio" name="pocasPastillasEstado" value="si"
            {% if serialConfig.configuracionnotificaciones.pocaspastillas.estado %} checked {% endif %}> SI
        </label>
        <label class="radio-inline">
          <input type="radio" name="pocasPastillasEstado" value="no"
            {% if !serialConfig.configuracionnotificaciones.pocaspastillas.estado %} checked {% endif %}> NO
        </label>
      </div>
      <div class="col-xs-8 padding-right-none">
        <div class='input-group'>
          <input type="number" class="form-control" min="1" max="3" name="pocasPastillasValor"
             id="inputPocasPastillas" value="{{ serialConfig.configuracionnotificaciones.pocaspastillas.valor }}" required>
          <span class="input-group-addon">Pastilla(s)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="temperaturaEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Temperatura</label>
    <div class="col-sm-9 col-md-8 col-lg-9">
      <div class="col-sm-12 padding-none margenBottom">
        <label class="radio-inline">
          <input type="radio" name="temperaturaEstado" value="si"
            {% if serialConfig.configuracionnotificaciones.temperatura.estado  %} checked {% endif %}> SI
        </label>
        <label class="radio-inline">
          <input type="radio" name="temperaturaEstado" value="no"
            {% if !serialConfig.configuracionnotificaciones.temperatura.estado %} checked {% endif %}> NO
        </label>
      </div>
      <div class="col-sm-12 padding-none">
        <div class="col-sm-6 padding-none margenBottom">
          <div class='input-group margenRight'>
            <span class="input-group-addon">T. <b>&lt</b> </span>
            <input type="number" class="form-control" min="10" max="18" name="temperaturaMin"
             id="inputTemperaturaMin" value="{{ serialConfig.configuracionnotificaciones.temperatura.min }}" required>
            <span class="input-group-addon">Cº</span>
          </div>
        </div>
        <div class="col-sm-6 padding-none">
          <div class='input-group margenRight'>
            <span class="input-group-addon">T. <b>&gt</b> </span>
            <input type="number" class="form-control" min="25" max="40" name="temperaturaMax"
             id="inputTemperaturaMax" value="{{ serialConfig.configuracionnotificaciones.temperatura.max }}" required>
            <span class="input-group-addon">Cº</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="humedadEstado" class="col-sm-3 col-md-4 col-lg-3 control-label">Humedad</label>
    <div class="col-sm-9 col-md-8 col-lg-9">
      <div class="col-sm-12 padding-none margenBottom">
        <label class="radio-inline">
          <input type="radio" name="humedadEstado" value="si"
            {% if serialConfig.configuracionnotificaciones.humedad.estado  %} checked {% endif %}> SI
        </label>
        <label class="radio-inline">
          <input type="radio" name="humedadEstado" value="no"
           {% if !serialConfig.configuracionnotificaciones.humedad.estado %} checked {% endif %}> NO
        </label>
      </div>
      <div class="col-sm-12 padding-none">
        <div class="col-sm-6 padding-none margenBottom">
          <div class='input-group margenRight'>
            <span class="input-group-addon">H. <b>&lt</b> </span>
            <input type="number" class="form-control" min="10" max="40" name="humedadMin"
             id="inputHumedadMin" value="{{ serialConfig.configuracionnotificaciones.humedad.min }}" required>
            <span class="input-group-addon">%</span>
          </div>
        </div>
        <div class="col-sm-6 padding-none">
          <div class='input-group margenRight'>
            <span class="input-group-addon">H. <b>&gt</b> </span>
            <input type="number" class="form-control" min="45" max="99" name="humedadMax"
             id="inputHumedadMax" value="{{ serialConfig.configuracionnotificaciones.humedad.max }}" required>
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="deteccionGas" class="col-sm-3 col-md-4 col-lg-3 control-label">Detección Gas</label>
    <div class="col-sm-9 col-md-8 col-lg-9">
      <label class="radio-inline">
        <input type="radio" name="deteccionGas" value="si"
          {% if serialConfig.configuracionnotificaciones.detecciongas  %} checked {% endif %}> SI
      </label>
      <label class="radio-inline">
        <input type="radio" name="deteccionGas" value="no"
          {% if !serialConfig.configuracionnotificaciones.detecciongas %} checked {% endif %}> NO
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="deteccionCaida" class="col-sm-3 col-md-4 col-lg-3 control-label">Detección Caida</label>
    <div class="col-sm-9 col-md-8 col-lg-9">
      <label class="radio-inline">
        <input type="radio" name="deteccionCaida" value="si"
          {% if serialConfig.configuracionnotificaciones.deteccioncaida  %} checked {% endif %}> SI
      </label>
      <label class="radio-inline">
        <input type="radio" name="deteccionCaida" value="no"
          {% if !serialConfig.configuracionnotificaciones.deteccioncaida %} checked {% endif %}> NO
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-4 col-lg-offset-3 col-sm-9 col-md-8 col-lg-9">
      <button type="submit" class="btn btn-primary col-xs-12">Guardar Notificaciones</button>
    </div>
  </div>
</form>
<div class="panel panel-default margenTop">
  <div class="panel-body">
    <p>¿Cuándo se realizan notificaciones?</p>
    <small>
    <ul>
      <li>Botón de Emergencia (rojo) pulsado</li>
      <li>Medicación no tomada</li>
      {% if serialConfig.configuracionnotificaciones.sinconexion.estado %}
      <li>Desconexión del dispensador</li>
      {% endif %}
      {% if serialConfig.configuracionnotificaciones.pocaspastillas.estado %}
      <li>Pocas pastillas restantes</li>
      {% endif %}
      {% if serialConfig.configuracionnotificaciones.temperatura.estado  %}
      <li>Temperatura del dispensador</li>
      {% endif %}
      {% if serialConfig.configuracionnotificaciones.humedad.estado  %}
      <li>Humedad del dispensador</li>
      {% endif %}
      {% if serialConfig.configuracionnotificaciones.detecciongas  %}
      <li>Detección de gas</li>
      {% endif %}
      {% if serialConfig.configuracionnotificaciones.deteccioncaida  %}
      <li>Detección de caida</li>
      {% endif %}
    </ul>
    </small>
  </div>
</div>
{% endblock %}