<ul class="menu-interior">
  <li id="menu-inicio">
    <a aria-label="SMD inicio" role="menuitem" href="/">
      <img src="/img/icon.svg" alt="Smart Medicine Dispenser" />
    </a>
  </li>
  <li>
    <a aria-label="Programación horarios" role="menuitem" href="/dashboard/pillbox/A"
      {% if menu == 'horarios' %} id="item-select" {% endif %}>
      <span class="icono">
        <i class="far fa-clock fa-2x"></i>
      </span>
      <span class="texto">Horarios</span>
    </a>
  </li>
  <li>
    <a aria-label="Dispensador" role="menuitem" href="/dashboard/dispenser"
      {% if menu == 'dispensador' %} id="item-select" {% endif %}>
      <span class="icono">
        <i class="far fa-chart-bar fa-2x"></i>
      </span>
      <span class="texto">Dispensador</span>
    </a>
  </li>
  <li>
    <a aria-label="Perfil" role="menuitem" href="/dashboard/profile"
      {% if menu == 'perfil' %} id="item-select" {% endif %}>
      <span class="icono">
        <i class="far fa-user fa-2x"></i>
      </span>
      <span class="texto">Perfil</span>
    </a>
  </li>
  <li>
    <a aria-label="Ajustes" role="menuitem" href="/dashboard/settings"
      {% if menu == 'ajustes' %} id="item-select" {% endif %}>
      <span class="icono">
        <i class="fas fa-cogs fa-2x"></i>
      </span>
      <span class="texto">Ajustes</span>
    </a>
  </li>
  <li id="menu-cerrar-sesion">
    <a aria-label="Cerrar sesión" role="menuitem" href="/logout">
      <span class="icono">
        <i class="fas fa-sign-out-alt fa-2x"></i>
      </span>
      <span class="texto">Logout</span>
    </a>
  </li>
</ul>