{% extends "base.html" %}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="">MedicineBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbar" aria-controls="navbar"
    aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
        href="http://example.com" id="dropdown04" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Action</a> <a
            class="dropdown-item" href="#">Another action</a> <a
            class="dropdown-item" href="#">Something else here</a>
        </div></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="mr-md-2 my-2">
        <a href="/login" class="btn btn-block btn-outline-primary" 
        role="button">
         <i class="fas fa-sign-in-alt"></i> Inicar Sesión</a>
      </li>
      <li class="my-2">
        <a href="/signup" class="btn btn-block btn-outline-success" 
        role="button">
          <i class="fas fa-user-plus"></i> Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
