{% extends "base.html" %} 
{% block titulo %} Registro Serial {% endblock %} 
{% block styles %} 
<link rel="stylesheet" type="text/css" href="css/style.registro.css">
{% endblock %}
{% block contenido_principal %}
<form method="post" action="/logout">
  <button type="submit" class="btn btn-danger">
    <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
  </button>
</form>
<div class="inRegistro">
  <h2 class="inMargenBottom">Nuevo Serial Dispensador</h2>
  {% if error.tipo == 'GENERAL' %}
  <div class="alert alert-danger" role="alert">
    <i class="far fa-times-circle"></i> {{ error.mensaje }}
  </div>
  {% endif %}
  <form method="post" action="/admin">
    <div class="form-group">
      <label for="serial">Serial Dispensador</label>
      <input type="text" 
        {% if error.tipo == 'SERIAL' %} class="form-control is-invalid"
        {% else %} class="form-control" 
        {% endif %} name="serial" id="serial"
        placeholder="XXXXX-XXXXX-XXXXX-XXXXX-XXXXX" 
        required="true" />
      {% if error.tipo == 'SERIAL' %} 
      <div class="invalid-feedback">{{ error.mensaje }}</div>
      {% endif %}
    </div>
    <div class="form-group inMargenTop">
      <button type="submit" class="col-md-12 btn-lg btn-primary">AÑADIR 
      NUEVO SERIAL</button>
    </div>
  </form>
  <p class="text-center inMargenTop inTextoPeq">
    *Comprobar que el nuevo SERIAL/KEY es correcto antes de validar.
  </p>
</div>
{% endblock %}
